@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --color-primary: #00D2FF;  /* Teal */
  --color-secondary: #007BFF;  /* Blue */
  --background-gray: #6666;  /* Dark background */
  --text-color: #FFFFFF;  /* White text */
}
html,
body {
  /* background-color: var(--background-gray); */
  color: var(--text-color);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

